@import './loading.scss';

.suggester {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(27, 31, 35, 0.1);
  cursor: pointer;
  left: 0;
  min-width: var(--minWidth);
  position: fixed;
  top: 0;
  z-index: 1501;
  font-size: 14px;
  .suggester-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    border: 1px solid #dfe2e5;
    padding: 5px 10px;
  }
  .suggester-list-item {
    font-weight: 600;
    &:not(:last-child) {
      border-bottom: 0;
    }
    &:hover,
    &.active,
    &[aria-selected="true"] {
      background: #0366d6;
      border-color: #0366d6;
      color: #fff;
      text-decoration: none;
    }
    small {
      font-weight: 400;
    }
  }
}
