.vue-loading {
  position: relative;
  display: inline-block;
}
.vue-loading-spin{
  transform: rotate(45deg);
  animation: loadingRotate 1.2s infinite linear;
}

.vue-loading i {
  border-radius: 100%;
  display: block;
  position: absolute;
  opacity: 0.3;
  animation: loadingSpinMove .7s infinite linear alternate;
  transform-origin: 50% 50%;
}
@keyframes loadingSpinMove {
  to {
    opacity: 1;
  }
}
@keyframes loadingRotate {
  to {
    transform: rotate(405deg);
  }
}